.debug-red {
  border: solid 1px red;
}

.debug-orange {
  border: solid 1px orange;
}

.botao {
  margin-top: 10px;
  position: relative;
  padding: 21px 24px 18px 36px;
  text-align: center;
  min-width: 200px;
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: .6px;
  border-radius: 50px;
  background: #D6D6D6;
  transition: all .3s;
  /* Small devices (landscape phones, 576px and up) */
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  /* Large devices (desktops, 992px and up) */
  /* Extra large devices (large desktops, 1200px and up) */
}

.botao.b-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.botao.b-shadow:hover {
  box-shadow: 0px 4px 80px rgba(58, 71, 80, 0.3), 0px 4px 40px rgba(58, 71, 80, 0.75), 0px 4px 20px rgba(58, 71, 80, 0.9), 0px 4px 50px rgba(58, 71, 80, 0.8);
}

.botao.text-blue {
  color: #1A2835 !important;
}

.botao.yellow {
  background: #F4B80F !important;
}

.botao.yellow:hover {
  background: #E6AC0B !important;
}

.botao.red {
  background: #FF6363 !important;
}

.botao.red:hover {
  background: #C14D4D !important;
}

.botao.green {
  background: #00F2CF !important;
}

.botao.green:hover {
  background: #00bfa3 !important;
}

.botao:hover {
  cursor: pointer;
  color: #1A2835;
}

.botao.iconed {
  text-align: left;
}

.botao.iconed:after {
  content: '';
  position: absolute;
  top: 51%;
  transform: translateY(-50%) scale(0.8);
  right: 21px;
  width: 30px;
  height: 30px;
  transition: all .3s;
  background-color: white;
}

.botao.iconed.arrow:after {
  transform: translateY(-50%) scale(0.8);
  -webkit-mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.arrow-back:after {
  transform: translateY(-50%) scale(-0.8);
  -webkit-mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow-back:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(-0.9);
  background: #1A2835;
}

.botao.iconed.arrow-back-reverse {
  text-align: right;
  padding-right: 3rem;
}

.botao.iconed.arrow-back-reverse:after {
  left: 14px;
  transform: translateY(-50%) scale(-0.8);
  -webkit-mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow-back-reverse:hover:after {
  left: 14px;
  transform: translateY(-50%) scale(-0.9);
  background: #1A2835;
}

.botao.iconed.copied:after {
  transform: translateY(-50%) scale(0.8);
  transition: all .15s;
  -webkit-mask: url(../assets/svg/icon-copied.svg) no-repeat center center !important;
  mask: url(../assets/svg/icon-copied.svg) no-repeat center center !important;
}

.botao.iconed.copied:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.copy:after {
  transform: translateY(-50%) scale(0.85);
  transition: all .15s;
  -webkit-mask: url(../assets/svg/copy-two-paper-sheets-interface-symbol.svg) no-repeat center center !important;
  mask: url(../assets/svg/copy-two-paper-sheets-interface-symbol.svg) no-repeat center center !important;
}

.botao.iconed.copy:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.confirm:after {
  -webkit-mask: url(../assets/svg/icon-confirmar.svg) no-repeat center center !important;
  mask: url(../assets/svg/icon-confirmar.svg) no-repeat center center !important;
}

.botao.iconed.confirm:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.dark-arrow:after {
  background-color: #1A2835 !important;
}

.botao.iconed:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

@media (min-width: 768px) {
  .botao {
    display: inline-block !important;
    font-size: 15px;
    width: 200px;
  }
}

ul li.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: all .3s;
  background: url(../assets/svg/icon-plus.svg) no-repeat center center, rgba(26, 40, 53, 0.7);
}

ul li.bullet:hover {
  transform: rotate(90deg);
  background: url(../assets/svg/icon-plus.svg) no-repeat center center, #1A2835;
  cursor: pointer;
}

/*
.bullet {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:.3s;
  -moz-animation-iteration-count:unset;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(90deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(90deg);}
}*/
.botao__quadrado {
  position: relative;
  width: 220px;
}

.botao__quadrado--container {
  position: relative;
  padding: 4px 4px 30px 4px;
}

.botao__quadrado--shape {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  width: 210px;
  height: 210px;
  overflow: hidden;
}

.botao__quadrado--img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all .3s ease-in-out;
}

.botao__quadrado--caption {
  position: absolute;
  font-size: 12px;
  bottom: 6px;
  right: 26px;
  z-index: 1;
}

.botao__quadrado:after {
  content: '';
  position: absolute;
  width: 76px;
  height: 76px;
  background: url(../assets/svg/icon-arrow-left.svg) no-repeat center center;
  background-size: 25px 25px;
  background-color: rgba(244, 184, 15, 0.75);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
}

.botao__quadrado:hover:after {
  cursor: pointer;
  opacity: 1;
  transform: translate(-50%, -66%);
}

.botao__quadrado:hover .botao__quadrado--img {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  filter: blur(1px) brightness(80%);
}

.v-modal {
  position: absolute;
  min-height: 1080px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(26, 40, 53, 0.9);
  background-repeat: repeat-y;
  z-index: 1050;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  pointer-events: auto;
}

.v-modal-content {
  flex: 0 0 550px !important;
  padding-top: 194px;
  min-height: 780px;
  background: url(../images/bg-modal-content.png) no-repeat top center;
}

.v-modal-content h1 {
  padding-top: 32px;
  font-weight: 300;
  width: 50%;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.v-modal-content h2 {
  padding-top: 70px;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #F4B80F;
}

.v-modal-content p {
  padding-top: 74px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
}

.v-modal-content--buttons {
  padding-top: 40px;
}

.v-modal.hide {
  visibility: visible;
  pointer-events: none;
  opacity: 0;
}

.v-modal.show {
  visibility: visible;
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .v-modal-content p {
    font-size: 23px;
  }
}

.debug-buttons {
  position: absolute;
  width: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1051;
}

.v-modal {
  position: absolute;
  min-height: 1080px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(26, 40, 53, 0.9);
  background-repeat: repeat-y;
  z-index: 1050;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  pointer-events: auto;
}

.v-modal-content {
  position: relative;
  flex: 0 0 550px !important;
  padding-top: 192px;
  height: 880px;
  background: url(../images/bg-modal-content-enter-room.png) no-repeat top center;
}

.v-modal-content h1 {
  padding-top: 84px;
  font-weight: 300;
  width: 50%;
  font-size: 25px;
  line-height: 34px !important;
  text-align: center;
  margin: 0 auto;
}

.v-modal-content form {
  margin-top: 48px;
}

.v-modal-content form input {
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 310;
  color: rgba(214, 214, 214, 0.4);
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: solid 1px rgba(214, 214, 214, 0.6);
  transition: all .2s ease;
  width: 300px;
  outline: none;
}

.v-modal-content form input::placeholder {
  color: rgba(214, 214, 214, 0.4);
  transition: all .2s ease;
}

.v-modal-content form input:-ms-input-placeholder {
  color: rgba(214, 214, 214, 0.4);
  transition: all .2s ease;
}

.v-modal-content form input::-ms-input-placeholder {
  color: rgba(214, 214, 214, 0.4);
  transition: all .2s ease;
}

.v-modal-content form input:focus {
  color: #FFF;
  border-bottom: solid 1px #FFF;
}

.v-modal-content form input:focus::-webkit-input-placeholder {
  color: #FFF;
}

.v-modal-content form input:focus:-moz-placeholder {
  color: #FFF;
}

.v-modal-content form input:focus:focus::-webkit-input-placeholder {
  color: #FFF;
}

.v-modal-content form input:focus:focus:-moz-placeholder {
  color: #FFF;
}

.v-modal-content .menu-camera {
  margin: 36px auto 0 auto;
  width: 260px;
}

.v-modal-content .menu-camera ul {
  display: flex;
  justify-content: space-around;
}

.v-modal-content .menu-camera ul li {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  opacity: .8;
  transition: all .2s ease;
}

.v-modal-content .menu-camera ul li:hover {
  cursor: pointer;
  opacity: 1;
}

.v-modal-content .menu-camera ul li.mic img {
  transform: scale(1);
  transition: transform .2s ease-out;
}

.v-modal-content .menu-camera ul li.mic.off img {
  margin-left: -1px;
  transform: scale(1.05);
}

.v-modal-content .menu-camera ul li.cam img {
  transform: scale(1);
  transition: transform .2s ease-out;
}

.v-modal-content .menu-camera ul li.cam.off img {
  margin-left: -3px;
  margin-top: 3px;
  transform: scale(1.05);
}

.v-modal-content .video__container {
  position: relative;
}

.v-modal-content .video__container.larger {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.v-modal-content .video__container.larger #videoElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background: url(../images/video-avatar-150.png) no-repeat center center #1A2835;
  background-size: cover;
  border: solid 3px #FFF;
  object-fit: cover;
}

.v-modal-content--buttons {
  padding: 0;
  position: absolute;
  top: 800px;
  right: 60px;
}

.v-modal.hide {
  visibility: visible;
  pointer-events: none;
  opacity: 0;
}

.v-modal.show {
  visibility: visible;
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .v-modal-content p {
    font-size: 23px;
  }
}

.menu__participantes {
  width: 190px;
  height: 90px;
  padding-top: 18px;
  padding-left: 32px;
  background: rgba(26, 40, 53, 0.7);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.menu__participantes.sala {
  position: fixed;
  bottom: 62px;
  z-index: 100;
}

.menu__participantes--content p {
  padding-left: 10px;
  font-size: 14px;
  color: #FF6363;
  letter-spacing: .8px;
  margin-bottom: 3px;
}

.menu__participantes--content ul {
  width: 106px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__participantes--content ul li {
  width: 44px;
  height: 40px;
  /*&.seila {
          &:after {
            content: '';
            position: absolute;
            width: 48px;
            height: 41px;
            background: $red;
            transform: scale(1);
            transition: all .2s;

            -webkit-mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
            -webkit-mask-size: auto 27px !important;
            -webkit-mask-position: 8px 10px !important;

            mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
            mask-size: auto 27px !important;
            mask-position: 8px 10px !important;
          }
    
          &:hover{ 
            &:after {
              transform: scale(1.1);
            }
          }

          &.off {
            &:after {
              background: darken($red, 10%);
            }
          }

        }*/
}

.menu__participantes--content ul li:hover {
  cursor: pointer;
}

.menu__participantes--content ul li.microfone:after {
  content: '';
  position: absolute;
  width: 44px;
  height: 41px;
  background: #FFF;
  transform: scale(1);
  transition: all .2s;
  -webkit-mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
  -webkit-mask-size: auto 33px !important;
  mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
  mask-size: auto 33px !important;
}

.menu__participantes--content ul li.microfone:hover:after {
  transform: scale(1.1);
}

.menu__participantes--content ul li.microfone.off:after {
  background: #FF6363;
  -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
  -webkit-mask-size: auto 33px !important;
}

.menu__participantes--content ul li.camera:after {
  content: '';
  position: absolute;
  width: 42px;
  height: 41px;
  background: #FFF;
  transform: scale(1);
  transition: all .2s;
  -webkit-mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
  -webkit-mask-size: auto 30px !important;
  mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
  mask-size: auto 30px !important;
}

.menu__participantes--content ul li.camera:hover:after {
  transform: scale(1.1);
}

.menu__participantes--content ul li.camera.off:after {
  background: #FF6363;
  -webkit-mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
  -webkit-mask-size: auto 35px !important;
  -webkit-mask-position: 1px 5px !important;
  mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
  mask-size: auto 34px !important;
}

.menu__compartilhar_sala {
  display: flex;
  width: auto;
  height: 90px;
  background: rgba(26, 40, 53, 0.8);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 26px 14px 24px 30px;
}

.menu__compartilhar_sala.sala {
  position: fixed;
  top: 62px;
  z-index: 101;
}

.menu__compartilhar_sala--logo {
  display: flex;
  padding-right: 17px;
  border-right: solid 1px #D6D6D6;
  height: 41px;
}

.menu__compartilhar_sala--logo img {
  width: 32px;
  height: auto;
}

.menu__compartilhar_sala--titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 41px;
  padding: 3px 10px;
}

.menu__compartilhar_sala--titles p {
  margin-bottom: 0 !important;
}

.menu__compartilhar_sala--titles-name {
  font-family: 'Exo', sans-serif;
  letter-spacing: 0.1px;
  color: #FFF;
  font-weight: 900;
  font-size: 18px;
}

.menu__compartilhar_sala--titles-room {
  margin-top: 10px;
  font-style: italic;
  font-size: 15px;
}

.menu__compartilhar_sala--titles-room.yellow {
  color: #F4B80F;
}

.menu__compartilhar_sala--titles-room.red {
  color: #FF6363;
}

.menu__compartilhar_sala--titles-room.purple {
  color: #73478F;
}

.menu__compartilhar_sala--titles-room.orange {
  color: #FF8C19;
}

.menu__compartilhar_sala--titles-room.green {
  color: #00F2CF;
}

.menu__compartilhar_sala--compartilhar {
  margin-top: -3px;
  margin-left: 8px;
}

.menu__compartilhar_sala--compartilhar a {
  display: block;
  background: #F4B80F;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: .3s all;
}

.menu__compartilhar_sala--compartilhar a:after {
  content: '';
  position: absolute;
  width: 22px;
  height: 26px;
  background: #FFF;
  -webkit-mask: url(../assets/svg/icon-compartilhar.svg) no-repeat center center !important;
  -webkit-mask-size: auto 16px !important;
  mask: url(../assets/svg/icon-compartilhar.svg) no-repeat center center !important;
  mask-size: auto 20px !important;
  transition: .3s all;
}

.menu__compartilhar_sala--compartilhar a:hover {
  box-shadow: 0px 0px 15px rgba(244, 184, 15, 0.5);
}

.menu__compartilhar_sala--compartilhar a:hover:after {
  background: #1A2835;
}

.menu__lateral_sala {
  position: fixed;
  margin-top: 30px;
  top: 10px;
  right: 0;
  min-height: 352px;
  width: 225px;
  background: rgba(26, 40, 53, 0.9);
  border-bottom-left-radius: 18px;
  transition: all .2s;
}

.menu__lateral_sala--header {
  margin-top: -30px;
  border-top-left-radius: 18px;
  background: rgba(26, 40, 53, 0.9);
  width: 225px;
  height: 30px;
  cursor: pointer;
}

.menu__lateral_sala--header:after {
  content: '';
  position: absolute;
  transform: scale(-1.15);
  top: -29px;
  left: 196px;
  width: 30px;
  height: 30px;
  background: #FFF;
  -webkit-mask: url(../assets/svg/icon-arrow-tiny.svg) no-repeat center center;
  mask: url(../assets/svg/icon-arrow-tiny.svg) no-repeat center center;
}

.menu__lateral_sala--conteudo {
  display: flex;
}

.menu__lateral_sala--conteudo-detalhes {
  width: 26px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__lateral_sala--conteudo-detalhes p {
  transform: rotate(-90deg) translateX(-82px);
  color: #D6D6D6;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  transition: opacity 280ms;
  visibility: hidden;
  opacity: 0;
  outline: 0;
}

.menu__lateral_sala.sala {
  position: absolute !important;
}

.menu__lateral_sala.off {
  right: -196px;
  background: rgba(58, 71, 80, 0.9);
}

.menu__lateral_sala.off .menu__lateral_sala--conteudo-detalhes {
  width: 36px;
}

.menu__lateral_sala.off .menu__lateral_sala--conteudo-detalhes p {
  visibility: visible;
  opacity: 1;
}

.menu__lateral_sala.off .menu__lateral_sala--header:after {
  transform: scale(1);
  left: 0;
}

.menu__lateral_sala.on .menu__lateral_sala--conteudo-detalhes p {
  visibility: visible !important;
  opacity: 0;
}

.menu__lateral_sala--plantas p {
  font-size: 13px;
  font-weight: bold;
  margin-top: -8px;
}

.menu__lateral_sala--plantas-planta {
  width: 200px;
  height: 100px;
}

.menu__lateral_sala--menu .mainmenu {
  position: relative;
  margin-left: 20px;
}

.menu__lateral_sala--menu .mainmenu > li {
  position: relative;
  line-height: 20px;
}

.menu__lateral_sala--menu .mainmenu > li a {
  color: #FFF;
}

.menu__lateral_sala--menu .mainmenu > li:hover:not(.active):after {
  transform: rotate(90deg);
}

.menu__lateral_sala--menu .mainmenu > li:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: -14px;
  background: #FFF;
  -webkit-mask: url(../assets/svg/icon-less.svg) no-repeat center center;
  mask: url(../assets/svg/icon-less.svg) no-repeat center center;
  -webkit-mask-size: 6px 9px !important;
  mask-size: 9px 9px !important;
}

.menu__lateral_sala--menu .mainmenu > li:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: -14px;
  background: #FFF;
  transform: rotate(0deg) scale(1);
  transition: transform .2s ease-in-out;
  -webkit-mask: url(../assets/svg/icon-less.svg) no-repeat center center;
  mask: url(../assets/svg/icon-less.svg) no-repeat center center;
  -webkit-mask-size: 6px 9px !important;
  mask-size: 9px 9px !important;
}

.menu__lateral_sala--menu .mainmenu > li:not(.active) {
  transform: rotate(0deg) scale(1);
}

.menu__lateral_sala--menu .mainmenu > li.active:after {
  transform: rotate(90deg);
}

.menu__lateral_sala--menu .mainmenu .submenu {
  display: none;
}

.menu__lateral_sala--menu .mainmenu .submenu li {
  padding-left: 10px;
}

.menu__lateral_sala--menu .mainmenu .submenu li a {
  color: #F4B80F;
  transition: all .2s;
}

.menu__lateral_sala--menu .mainmenu .submenu li a:hover {
  color: #b58809;
}

.menu__lateral_sala--menu .mainmenu .submenu.off {
  display: block;
}

.menu__guest {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 960px;
  height: 210px;
  overflow: hidden;
  z-index: 90;
}

.menu__guest--container {
  position: absolute;
  width: 100%;
  min-height: 200px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: transform .2s ease-out;
  height: auto;
}

.menu__guest--container .guest:nth-child(n+5) {
  margin-top: 60px;
}

.menu__guest--container .row {
  min-width: 500px;
  justify-content: space-between;
}

.menu__guest--container.off {
  transform: translateX(-50%) translateY(275px);
}

.menu__guest--show-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 36px;
  background: rgba(26, 40, 53, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 100;
}

.menu__guest--show-button:hover {
  cursor: pointer;
}

.menu__guest--show-button:hover:before {
  background: #FFF;
}

.menu__guest--show-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background: #D6D6D6;
  transition: background-color .2s;
  -webkit-mask: url(../assets/svg/icon-btn-users.svg) no-repeat center center !important;
  -webkit-mask-size: auto 25px !important;
  mask: url(../assets/svg/icon-btn-users.svg) no-repeat center center !important;
  mask-size: auto 25px !important;
}

.menu__guest--show-button.active:hover:before {
  background: #FFF;
}

.menu__guest--show-button.active:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 41px;
  background: #D6D6D6;
  transition: background-color .2s;
  -webkit-mask: url(../assets/svg/icon-arrow-down.svg) no-repeat center center !important;
  -webkit-mask-size: auto 13px !important;
  mask: url(../assets/svg/icon-arrow-down.svg) no-repeat center center !important;
  mask-size: auto 13px !important;
}

.menu__guest--show-button a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.video__container {
  /*&.debug {
    .video__container--controller {
      opacity: 1;
    }
  }*/
  position: relative;
  margin: 0px 20px;
  width: 150px;
  height: 150px;
}

.video__container.host {
  width: 190px;
  height: 190px;
}

.video__container.host .video__container--controller {
  width: 190px;
  height: 190px;
}

.video__container.host .video__container--controller ul {
  width: 190px;
  height: 190px;
}

.video__container.host .video__container--titulo {
  width: 196px;
  height: 26px;
}

.video__container.host .video__container--titulo p {
  font-size: 14px;
  color: #F4B80F;
  width: 120px;
}

.video__container.host #videoElement {
  width: 190px;
  height: 190px;
}

.video__container--controller {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 1px transparent;
  background: #1A2835;
  visibility: visible;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  z-index: 1;
}

.video__container--controller:hover {
  opacity: 1;
}

.video__container--controller ul {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video__container--controller ul li {
  width: 32px;
  height: 32px;
}

.video__container--controller ul li.microfone:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 30px;
  background: #D6D6D6;
  transition: all .1s;
  -webkit-mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
  -webkit-mask-size: auto 15px !important;
  mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
  mask-size: auto 15px !important;
}

.video__container--controller ul li.microfone:hover {
  cursor: pointer;
}

.video__container--controller ul li.microfone:hover:after {
  background: #FFF;
}

.video__container--controller ul li.microfone.off:after {
  -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
  -webkit-mask-size: auto 16px !important;
  -webkit-mask-position: 10px 8px !important;
}

.video__container--controller ul li.camera:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 27px;
  background: #D6D6D6;
  transition: all .1s;
  -webkit-mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
  -webkit-mask-size: auto 15px !important;
  mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
  mask-size: auto 15px !important;
}

.video__container--controller ul li.camera:hover {
  cursor: pointer;
}

.video__container--controller ul li.camera:hover:after {
  background: #FFF;
}

.video__container--controller ul li.camera.off:after {
  width: 32px;
  height: 28px;
  -webkit-mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
  -webkit-mask-size: auto 18px !important;
  -webkit-mask-position: 6px 5px !important;
  mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
  mask-size: auto 22px !important;
  mask-position: 0px 3px !important;
}

.video__container--controller ul li.exit-room {
  background: rgba(255, 99, 99, 0.7);
  transition: all .4s;
  border-radius: 50%;
  margin-top: -2px;
  width: 30px;
  height: 30px;
}

.video__container--controller ul li.exit-room:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 32px;
  background: #FFF;
  transition: all .2s;
  -webkit-mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
  -webkit-mask-size: auto 12px !important;
  -webkit-mask-position: 8px 9px !important;
  mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
  mask-size: auto 13px !important;
  mask-position: 8px 10px !important;
}

.video__container--controller ul li.exit-room:hover {
  cursor: pointer;
  background: rgba(255, 99, 99, 0.9);
}

.video__container--controller ul li.exit-room:hover:after {
  background: #FFF;
}

.video__container--controller ul li.exit-room.off {
  background: rgba(193, 77, 77, 0.8);
}

.video__container--titulo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 20px;
  background: rgba(26, 40, 53, 0.9);
  z-index: 10;
  bottom: 0;
  right: 0;
  border-radius: 10px;
}

.video__container--titulo.orange p {
  color: #FF8C19 !important;
}

.video__container--titulo.green p {
  color: #00F2CF !important;
}

.video__container--titulo.purple p {
  color: #73478F !important;
}

.video__container--titulo.red p {
  color: #FF6363 !important;
}

.video__container--titulo p {
  font-size: 11px;
  font-weight: bold;
  padding-right: 10px;
  margin: 0;
  display: block;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video__container #videoElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../images/video-avatar-150.png) no-repeat center center #1A2835;
  border: solid 1px #FFF;
  object-fit: cover;
}

body.fake-background {
  background: linear-gradient(to right bottom, rgba(26, 40, 53, 0.9), rgba(26, 40, 53, 0.9)), url(../images/background.jpg) no-repeat center center;
  background-size: cover;
}

body.bg-fake-clear {
  background: url(../images/fake-room.png) no-repeat top center;
  background-size: cover;
}

body.bg-fake-image {
  background: url(../images/interior_360.png) no-repeat top center;
  background-size: cover;
}

#open-modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  line-height: 1rem;
  min-height: 100vh;
}

p {
  color: #FFF;
  font-weight: 300;
  font-size: 25px;
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}
