.debug-red {
  border: solid 1px red;
}

.debug-orange {
  border: solid 1px orange;
}

.botao {
  margin-top: 10px;
  position: relative;
  padding: 33px;
  text-align: center;
  min-width: 200px;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  background: #D6D6D6;
  transition: all .3s;
  /* Small devices (landscape phones, 576px and up) */
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  /* Large devices (desktops, 992px and up) */
  /* Extra large devices (large desktops, 1200px and up) */
}

.botao.border-rounded {
  border-radius: 50px;
}

.botao.dark {
  color: #1A2835 !important;
}

.botao.yellow {
  background: #F4B80F !important;
}

.botao.yellow:hover {
  background: #E6AC0B !important;
}

.botao:hover {
  cursor: pointer;
  color: #1A2835;
}

.botao.entrar {
  text-align: left;
}

.botao.entrar:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 26px;
  width: 16px;
  height: 24px;
  transition: all .3s;
  background-color: white;
  -webkit-mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.entrar.dark:after {
  background-color: #1A2835 !important;
}

.botao.entrar:hover:after {
  right: 20px;
  background: #1A2835;
}

@media (min-width: 768px) {
  .botao {
    display: inline-block !important;
    padding: 24px;
    font-size: 15px;
    width: 200px;
  }
}

@media (min-width: 992px) {
  .botao {
    display: inline-block !important;
    font-size: 21px;
    line-height: 36px;
    width: 280px;
  }
}

ul li.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: all .3s;
  background: url(../../assets/svg/icon-plus.svg) no-repeat center center, rgba(26, 40, 53, 0.7);
}

ul li.bullet:hover {
  transform: rotate(90deg);
  background: url(../../assets/svg/icon-plus.svg) no-repeat center center, #1A2835;
  cursor: pointer;
}

/*
.bullet {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:.3s;
  -moz-animation-iteration-count:unset;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(90deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(90deg);}
}*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: cadetblue;
  color: #FFF;
  line-height: 1rem;
}

p {
  color: #FFF;
  font-weight: 300;
  font-size: 25px;
}
