.debug-red {
  border: solid 1px red;
}

.debug-orange {
  border: solid 1px orange;
}

.botao {
  margin-top: 10px;
  position: relative;
  padding: 21px 24px 18px 36px;
  text-align: center;
  min-width: 200px;
  font-weight: 600;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: .6px;
  border-radius: 50px;
  background: #D6D6D6;
  transition: all .3s;
  /* Small devices (landscape phones, 576px and up) */
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  /* Large devices (desktops, 992px and up) */
  /* Extra large devices (large desktops, 1200px and up) */
}

.botao.b-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.botao.b-shadow:hover {
  box-shadow: 0px 4px 80px rgba(58, 71, 80, 0.3), 0px 4px 40px rgba(58, 71, 80, 0.75), 0px 4px 20px rgba(58, 71, 80, 0.9), 0px 4px 50px rgba(58, 71, 80, 0.8);
}

.botao.text-blue {
  color: #1A2835 !important;
}

.botao.yellow {
  background: #F4B80F !important;
}

.botao.yellow:hover {
  background: #E6AC0B !important;
}

.botao.red {
  background: #FF6363 !important;
}

.botao.red:hover {
  background: #C14D4D !important;
}

.botao.green {
  background: #00F2CF !important;
}

.botao.green:hover {
  background: #00bfa3 !important;
}

.botao:hover {
  cursor: pointer;
  color: #1A2835;
}

.botao.iconed {
  text-align: left;
}

.botao.iconed:after {
  content: '';
  position: absolute;
  top: 51%;
  transform: translateY(-50%) scale(0.8);
  right: 21px;
  width: 30px;
  height: 30px;
  transition: all .3s;
  background-color: white;
}

.botao.iconed.arrow:after {
  transform: translateY(-50%) scale(0.8);
  -webkit-mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.arrow-back:after {
  transform: translateY(-50%) scale(-0.8);
  -webkit-mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow-back:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(-0.9);
  background: #1A2835;
}

.botao.iconed.arrow-back-reverse {
  text-align: right;
  padding-right: 3rem;
}

.botao.iconed.arrow-back-reverse:after {
  left: 14px;
  transform: translateY(-50%) scale(-0.8);
  -webkit-mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
  mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
}

.botao.iconed.arrow-back-reverse:hover:after {
  left: 14px;
  transform: translateY(-50%) scale(-0.9);
  background: #1A2835;
}

.botao.iconed.copied:after {
  transform: translateY(-50%) scale(0.8);
  transition: all .15s;
  -webkit-mask: url(../../assets/svg/icon-copied.svg) no-repeat center center !important;
  mask: url(../../assets/svg/icon-copied.svg) no-repeat center center !important;
}

.botao.iconed.copied:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.copy:after {
  transform: translateY(-50%) scale(0.85);
  transition: all .15s;
  -webkit-mask: url(../../assets/svg/copy-two-paper-sheets-interface-symbol.svg) no-repeat center center !important;
  mask: url(../../assets/svg/copy-two-paper-sheets-interface-symbol.svg) no-repeat center center !important;
}

.botao.iconed.copy:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.confirm:after {
  -webkit-mask: url(../../assets/svg/icon-confirmar.svg) no-repeat center center !important;
  mask: url(../../assets/svg/icon-confirmar.svg) no-repeat center center !important;
}

.botao.iconed.confirm:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

.botao.iconed.dark-arrow:after {
  background-color: #1A2835 !important;
}

.botao.iconed:hover:after {
  right: 21px;
  transform: translateY(-50%) scale(0.9);
  background: #1A2835;
}

@media (min-width: 768px) {
  .botao {
    display: inline-block !important;
    font-size: 15px;
    width: 200px;
  }
}

ul li.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: all .3s;
  background: url(../../assets/svg/icon-plus.svg) no-repeat center center, rgba(26, 40, 53, 0.7);
}

ul li.bullet:hover {
  transform: rotate(90deg);
  background: url(../../assets/svg/icon-plus.svg) no-repeat center center, #1A2835;
  cursor: pointer;
}

/*
.bullet {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:.3s;
  -moz-animation-iteration-count:unset;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(90deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(90deg);}
}*/
.botao__quadrado {
  position: relative;
  width: 220px;
}

.botao__quadrado--container {
  position: relative;
  padding: 4px 4px 30px 4px;
}

.botao__quadrado--shape {
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  width: 210px;
  height: 210px;
  overflow: hidden;
}

.botao__quadrado--img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all .3s ease-in-out;
}

.botao__quadrado--caption {
  position: absolute;
  font-size: 12px;
  bottom: 6px;
  right: 26px;
  z-index: 1;
}

.botao__quadrado:after {
  content: '';
  position: absolute;
  width: 76px;
  height: 76px;
  background: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
  background-size: 25px 25px;
  background-color: rgba(244, 184, 15, 0.75);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
}

.botao__quadrado:hover:after {
  cursor: pointer;
  opacity: 1;
  transform: translate(-50%, -66%);
}

.botao__quadrado:hover .botao__quadrado--img {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1);
  filter: blur(1px) brightness(80%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right bottom, rgba(26, 40, 53, 0.8), rgba(26, 40, 53, 0.8)), url(../images/background.jpg) no-repeat center center;
  background-size: cover;
  color: #FFF;
  line-height: 1rem;
  min-height: 100vh;
}

p {
  color: #FFF;
  font-weight: 300;
  font-size: 25px;
}
