body {
  &.fake-background {
    background: linear-gradient(to right bottom, $blue-opacity-2, $blue-opacity-2), url(../images/background.jpg) no-repeat center center;
    background-size: cover;
  }

  &.bg-fake-clear {
      background: url(../images/fake-room.png) no-repeat top center;
      background-size: cover;
  }
  &.bg-fake-image {
    background: url(../images/interior_360.png) no-repeat top center;
    background-size: cover;
}
}


#open-modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

}