@import "./variables";
@import "./sections/escolha-salas";
@import "components/botao";
@import "components/bullets";
@import "components/botao-quadrado";
@import "components/modal";
@import "components/modal-enter-room-camera";
@import "components/menu-participantes";
@import "components/menu-compartilhar-sala";
@import "components/menu-escolher-sala";
@import "components/menu-lateral-sala";
@import "components/menu-cameras";
@import "components/preloader";
@import "./debug";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html {
    font-size: 14px; 
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width:300px;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    color: #FFF;
    line-height: 1rem;
    min-height: 100vh;

    &.debug {
        border: solid 2px rgb(231, 161, 161);
    }
}

p { 
    color: #FFF;
    font-weight: 300;
    font-size: 25px;
}

ul li {
    list-style: none;
}

a {
    &:hover {
        text-decoration: none;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    body.debug {
        border: solid 2px rgb(120, 255, 120);
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1200px) {
    body.debug {
        border: solid 2px rgb(109, 109, 255);
    }
  }
