@import "./variables";
@import "components/botao";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html {
    font-size: 14px; 
    color: $color-grey;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

