@import "./variables";
@import "components/botao";
@import "components/bullets";
@import "components/botao-quadrado";
@import "components/modal";
@import "components/menu-participantes";
@import "./debug";


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html {
    font-size: 14px; 
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    color: #FFF;
    line-height: 1rem;
    min-height: 100vh;

    
}

p { 
    color: #FFF;
    font-weight: 300;
    font-size: 25px;
}

ul li {
    list-style: none;
}
