.escolha__salas {
  position: relative;
  
  &--logo {
    width: 100%;
    height: 140px;
    background: $blue-opacity-2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: $border-radius-box;

    img {
      width: 84px;
      height: auto;
    }
  }

  &--texto-boas-vindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 360px;

    .escolha__salas--background-circle {
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      border: solid 1px $yellow;
      border-radius: 50%;
  
      img {
        width: 300px;
        padding: 40px;
      }
    }

    .saudacao {
      position: relative;
      padding-left: 30px;
      margin: 0 auto;
      width: 400px;
      p {
        color: $gray;
        font-size: 50px;
        margin-bottom: 20px;
      }

      h1 {
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 44px;
        max-width: 400px;
        // line-height: 50px;
      }
    }
  }
  &--texto-escolha {
    margin-top: 84px;
    p {
      font-size: 35px;
      line-height: 35px;
      color: #FFF; 
      padding-bottom: 34px;
      border-bottom: solid 1px rgba(#FFF, 0.5);
    }
    
  }

  &--menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;

    .menu__escolher_sala {
      width: 90%;
    }

    .container-botoes {
      display: inline-block;
      width: 90%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    &--logo {
      width: 225px;
      height: 410px;
    }

    &--texto-boas-vindas {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 360px;

      .escolha__salas--background-circle {
        position: absolute;
        top: 40px;
        left: 45%;
        transform: translateX(-50%);
        border: solid 1px $yellow;
        border-radius: 50%;
    
        img {
          // padding: 54px;
          width: 360px;
          height: 360px;
        }
      }

      .saudacao {
        position: relative;
        padding-left: 0;
        p {
          color: $gray;
          font-size: 60px;
        }

        h1 {
          font-family: 'Exo', sans-serif;
          font-weight: bold;
          max-width: 500px;
          font-size: 58px;
        }
      }
    }

    &--texto-escolha {
      margin-top: 0;
      padding-left: 40px;
      padding-bottom: 34px;
      
      p {
        font-size: 30px;
        line-height: 35px;
        color: #FFF; 
        padding-bottom: 40px;
        border-bottom: solid 1px rgba(#FFF, 0.5);
        margin-right: 80px;
      }
      
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1200px) {
    &--logo {
      width: 225px;
      height: 410px;

      img {
        margin-top: 50px;
        width: 75px;
      }
    }

    &--texto-boas-vindas {
      margin-top: 84px;
      padding-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 360px;

      .escolha__salas--background-circle {
        position: absolute;
        top: 94px;
        left: 280px;
        border: solid 1px $yellow;
        border-radius: 50%;
    
        img {
          padding: 54px;
        }
      }

      .saudacao {
        position: relative;
        width: 100%;
        p {
          color: $gray;
          font-size: 60px;
          margin-bottom: 40px;
        }

        h1 {
          font-family: 'Exo', sans-serif;
          font-weight: bold;
          font-size: 50px;
          letter-spacing: 1px;
        }
      }
    }

    &--texto-escolha {
      margin-top: 84px;
      padding-left: 40px;
      padding-bottom: 0;
      padding-top: 8px;
      
      p {
        font-size: 35px;
        line-height: 35px;
        color: #FFF; 
        padding-bottom: 40px;
        border-bottom: solid 1px rgba(#FFF, 0.5);
        margin-right: 0;
      }
      
    }

    &--menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 90%;
      min-height: 99vh;
  
      .menu__escolher_sala {
        width: 90%;
      }
  
      .container-botoes {
        display: inline-block;
        width: 90%;
      }
    }
  }
  
}
  