.botao__redondo {

  &.large {
    a {
      width: 46px;
      height: 46px;
    }
  }

  // Colors 

  &.red a { background: $red; }
  &.yellow a { background: $yellow; }
  &.green a { background: $green; }
  &.white a { background: #FFF; }
  &.blue a { background: $blue-sky; }
  &.orange a { background: $orange; }

  // Change icon color tp dark mode
  &.icon-dark {
    a:after { background: $blue }
    a:hover:after { background: lighten($blue, 20%) }
  }

  // Icons
  &.compartilhar {
    a:after {
      -webkit-mask: url(../assets/svg/icon-compartilhar.svg) no-repeat 10px 10px !important;
      -webkit-mask-size: auto 16px !important;
      mask: url(../assets/svg/icon-compartilhar.svg) no-repeat center center !important;
      mask-size: auto 16px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-compartilhar.svg) no-repeat 12px 13px !important;
        -webkit-mask-size: auto 20px !important;
        mask: url(../assets/svg/icon-compartilhar.svg) no-repeat 12px 13px !important;
        mask-size: auto 20px !important;
      }
    }
  }

  &.microfone {
    a:after {
      -webkit-mask: url(../assets/svg/icon-microfone.svg) no-repeat 12px center !important;
      -webkit-mask-size: auto 18px !important;
      mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
      mask-size: auto 18px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        -webkit-mask-size: auto 22px !important;
        mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        mask-size: auto 22px !important;
      }
    }
  }

  &.microfone-off {
    a:after {
      background: url(../assets/svg/icon-microfone-off.svg) no-repeat 11px center !important;
      background-size: auto 18px !important;
      // -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat 11px center !important;
      // -webkit-mask-size: auto 18px !important;
      // mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
      // mask-size: auto 18px !important;
    }

    // Large
    &.large {
      a:after {
        background: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
        background-size: auto 22px !important;
        // -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
        // -webkit-mask-size: auto 22px !important;
        // mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        // mask-size: auto 22px !important;
      }
    }
  }

  &.microfone-solid-off {
    a:after {
      -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat 11px center !important;
      -webkit-mask-size: auto 18px !important;
      mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
      mask-size: auto 18px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
        -webkit-mask-size: auto 22px !important;
        mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        mask-size: auto 22px !important;
      }
    }
  }

  &.camera {
    a:after {
      -webkit-mask: url(../assets/svg/icon-camera.svg) no-repeat 8px 9px !important;
      -webkit-mask-size: auto 16px !important;
      mask: url(../assets/svg/icon-microfone.svg) no-repeat 8px 9px !important;
      mask-size: auto 16px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
        -webkit-mask-size: auto 22px !important;
        mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        mask-size: auto 22px !important;
      }
    }
  }

  &.camera-off {
    a:after {
      -webkit-mask: url(../assets/svg/icon-camera-off.svg) no-repeat 8px 9px !important;
      -webkit-mask-size: auto 18px !important;
      mask: url(../assets/svg/icon-microfone.svg) no-repeat 8px 9px !important;
      mask-size: auto 18px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
        -webkit-mask-size: auto 22px !important;
        mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
        mask-size: auto 22px !important;
      }
    }
  }

  &.leave-room {
    a:after {
      -webkit-mask: url(../assets/svg/icon-seila.svg) no-repeat 9px center !important;
      -webkit-mask-size: auto 14px !important;
      mask: url(../assets/svg/icon-microfone.svg) no-repeat 9px center !important;
      mask-size: auto 14px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-seila.svg) no-repeat 10px center !important;
        -webkit-mask-size: auto 20px !important;
        mask: url(../assets/svg/icon-microfone.svg) no-repeat 10px center !important;
        mask-size: auto 20px !important;
      }
    }
  }

  &.arrow-left {
    a:after {
      -webkit-mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center !important;
      -webkit-mask-size: auto 16px !important;
      mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center !important;
      mask-size: auto 16px !important;
    }

    // Large
    &.large {
      a:after {
        -webkit-mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center !important;
        -webkit-mask-size: auto 22px !important;
        mask: url(../assets/svg/icon-arrow-left.svg) no-repeat center center !important;
        mask-size: auto 22px !important;
      }
    }
  }

  &.light-hover {
    a {
      &:hover {
        &:after {
          background: $white-opacity;
        }
      }
    }
  }
 
  a {
    display: block;
    background: $blue-opacity;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: .3s all;
       
    &:after { 
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: #FFF;
      
      transition: .3s all;
    }

    &:hover {
      // box-shadow: $box-shadow-yellow;

      // Change icon color
      &:after {
        background: $blue;
      }
    }
  }
}