// usa d-md-inline-block para responsividade
.botao {

  &.border-rounded {
    border-radius: 50px;
  }

  margin-top: 10px;
  position: relative;
  padding: 33px;
  text-align: center;
  min-width: $btn-small-width;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: $border-radius-button;
  background: $gray;
  transition: all .3s;

  &.dark {
    color: $blue !important;
  }

  &.yellow {
    background: $yellow !important;

    &:hover {
      background: $yellow-active !important;
    }
  }

  &:hover {
    cursor: pointer;
    color: $blue;
  }

  &.entrar {
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 26px;
      width: 16px;
      height: 24px;
      transition: all .3s;

      // SVG background
      background-color: white;
      
      -webkit-mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
      mask: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
      // background: url(../../assets/svg/icon-arrow-left.svg) no-repeat center center;
    }

    &.dark {
      &:after {
        background-color: $blue !important;
      }
    }

    &:hover{
      
      &:after {
        right: 20px;
        background: $blue;
      }
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {  
  
  }
  
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    display: inline-block !important;
    // margin-top: 0;
    padding: 24px;
    font-size: 15px;
    width: $btn-small-width;
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    display: inline-block !important;
    font-size: 21px;
    line-height: 36px;
    width: $btn-large-width;
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      
  }
}
