.menu__guest {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 210px;
  overflow: hidden;
  z-index: 90;

  &--container {
    position: absolute;
    // border: solid 1px red;
    width: 100%;
    padding: 0 30px;
    min-height: 200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
    // transition: transform .5s ease-out .2s;
    // transition: opacity .5s ease;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    height: auto;

    .guest {
      // border: solid 1px blue;
      -webkit-animation: fadeIn .8s ease-in-out;
      -moz-animation: fadeIn .8s ease-in-out;
      -o-animation: fadeIn .8s ease-in-out;
      animation: fadeIn .8s ease-in-out;
    }

    @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
      0% { opacity: 0;}
      100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    // Coloca os que passarem da primeira linha com margin top
    /*.guest:nth-child(n+5) {
      margin-top: 60px;
    }*/

    .row {
      min-width: 500px;
      justify-content: center;
    }

    &.off {
      transform: translateX(-50%) translateY(275px);
      opacity: 0;
    }
  }

  &--show-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 36px;
    background: $blue-opacity-2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 100;

    &:hover {
      cursor: pointer;

      &:before {
        background: #FFF;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 41px;
      background: $gray;
      transition: background-color .2s;
      -webkit-mask: url(../assets/svg/icon-btn-users.svg) no-repeat center center !important;
      -webkit-mask-size: auto 25px !important;
      mask: url(../assets/svg/icon-btn-users.svg) no-repeat center center !important;
      mask-size: auto 25px !important;
    }

    &.active {
      &:hover {
        &:before {
            background: #FFF;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 42px;
        height: 41px;
        background: $gray;
        transition: background-color .2s;
        -webkit-mask: url(../assets/svg/icon-arrow-down.svg) no-repeat center center !important;
        -webkit-mask-size: auto 13px !important;
        mask: url(../assets/svg/icon-arrow-down.svg) no-repeat center center !important;
        mask-size: auto 13px !important;
      }
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  
  @media (min-width: 768px) { 
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      
  }
}

.video__container {

  /*&.debug {
    .video__container--controller {
      opacity: 1;
    }
  }*/

  position: relative;
	margin: 0px 20px;
	width: 150px;
  height: 150px;

  // Alterações de tamanho para o host
  &.host {
    width: 190px;
    height: 190px;
    .video__container--controller {
      width: 190px;
      height: 190px;

      ul {
        width: 190px;
        height: 190px;
      }
    }

    .video__container--titulo {
      width: 196px;
      height: 26px;

      p {
        font-size: 14px;
        color: $yellow;
        width: 120px;
      }
    }
    

    #videoElement { 
      width: 190px;
      height: 190px;
    }
  }
  
  &--controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px transparent;
    background: $blue;
    visibility: visible;
    opacity: 0;
    transition: 250ms opacity ease-in-out;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    ul {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      li {
        width: 32px;
        height: 32px;
        &.microfone {
          &:after {
            content: '';
            position: absolute;
            width: 32px;
            height: 30px;
            background: $gray;
            transition: all .1s;
            -webkit-mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
            -webkit-mask-size: auto 15px !important;
            mask: url(../assets/svg/icon-microfone.svg) no-repeat center center !important;
            mask-size: auto 15px !important;
          }
    
          &:hover{ 
            cursor: pointer;
            &:after {
              background: #FFF;
            }
          }
  
          &.off {
            &:after {
              -webkit-mask: url(../assets/svg/icon-microfone-off.svg) no-repeat center center !important;
              -webkit-mask-size: auto 16px !important;
              -webkit-mask-position: 10px 8px !important;
            }
          }
  
        }
  
        &.camera {
          &:after {
            content: '';
            position: absolute;
            width: 32px;
            height: 27px;
            background: $gray;
            transition: all .1s;
            -webkit-mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
            -webkit-mask-size: auto 15px !important;
            mask: url(../assets/svg/icon-camera.svg) no-repeat center center !important;
            mask-size: auto 15px !important;
          }
  
          &:hover{ 
            cursor: pointer;
            &:after {
              background: #FFF;
            }
          }
  
          &.off {
            &:after {
              width: 32px;
              height: 28px;
              -webkit-mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
              -webkit-mask-size: auto 18px !important;
              -webkit-mask-position: 6px 5px !important;
  
              mask: url(../assets/svg/icon-camera-off.svg) no-repeat center center !important;
              mask-size: auto 22px !important;
              mask-position: 0px 3px !important;
            }
          }
  
        }
  
        &.exit-room {
          background: rgba($red, .7);
          transition: all .4s;
          border-radius: 50%;
          margin-top: -2px;
          width: 30px;
          height: 30px;
          &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 32px;
            background: #FFF;
            transition: all .2s;
  
            -webkit-mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
            -webkit-mask-size: auto 12px !important;
            -webkit-mask-position: 8px 9px !important;
  
            mask: url(../assets/svg/icon-seila.svg) no-repeat center center !important;
            mask-size: auto 13px !important;
            mask-position: 8px 10px !important;
          }
    
          &:hover{ 
            cursor: pointer;
            background: rgba($red, .9);
            &:after {
              background: #FFF;
            }
          }
  
          &.off {
            background: rgba(193, 77, 77, 0.8);
          }
        }
      }
    }
  }

  &--titulo {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 20px;
    background: $blue-opacity-2;
    z-index: 10;
    bottom: 0;
    right: 0;
    border-radius: 10px;

    &.orange p { color: $orange !important; }
    &.green p { color: $green !important; }
    &.purple p { color: $purple !important; }
    &.red p { color: $red !important; }
    
    
    p {
      font-size: 11px;
      font-weight: bold;
      padding-right: 10px;
      margin: 0;
      display: block;
      width: 90px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .audio {

    }
  }

  #videoElement {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../images/video-avatar-150.png) no-repeat center center $blue;
    border: solid 1px #FFF;
    object-fit: cover;
  }

  @media (min-width: 768px) { 
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      
  }
}

