.v-modal {
  position: absolute;
  min-height: 1080px;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $blue-opacity;
  background-repeat: repeat-y;
  z-index: 1050;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  pointer-events: auto;
  // display:none;

  &-content {
    &.compartilhe {
      flex: 0 0 550px !important;
      padding-top: 50px;
      height: 550px;
      background: transparent !important;

      img {
        display: block;
        margin: 0 auto;
      }
      // background: url(../images/bg-modal-content.png) no-repeat top center;
      &::before {
        position: absolute;
        content: '';
        width: 376px;
        height: 500px;
        background: #3A4750;
        top: 0;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: -1;
      }
      
      h1 {
        padding-top: 42px;
        font-weight: 300;
        width: 50%;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
      }

      h2 {
        padding-top: 50px;
        font-weight: 600;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        color: $yellow;
      }

      input#copy {
        padding-top: 20px;
        padding-bottom: 12px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        color: rgba(#FFF, .5);
        text-align: center;
        background: transparent;
        border: none;
        border-bottom: solid 1px rgba($gray, .6);
        transition: all .2s ease;
        min-width: 500px;
        outline: none;
        cursor: text;
      }

    } 

    &--buttons-bottom {
      position: absolute;
      padding-top: 42px;
    }

    &.hide {
      visibility: visible;
      pointer-events: none;
      opacity: 0;
    }
    &.show {
      // display: block;
      visibility: visible;
      opacity: 1;
    } 
  }

  @media (min-width: 768px) {  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      
  }
}
